@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body{
	background-color:#FFF;

	margin-left:0px;
	margin-right:0px;
}
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.fadeIn {
	-webkit-animation: fadeIn 0.5s ease-in-out;
	-moz-animation: fadeIn 0.5s ease-in-out;
	-o-animation: fadeIn 0.5s ease-in-out;
	animation: fadeIn 0.5s ease-in-out;
}
.menu {
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	background: ;
	left:0px;
	right:0px;
	padding: 20px;
	background:#1f405b;
	margin-left:0px;
	margin-right:0px;
	top:0;
	z-index:99;
	position:fixed;
}

.menu a {
  text-decoration: none;
  background:#09F;
  border-radius: 5px;	
  color: white;
  padding: 10px 15px;
  margin-right:10px;
}
.menu a:hover{
	background-color:#06F;
}

.cadastro{
	margin-top:100px;
	width:50%;
	height:950px;
	background-color:#eee;
	margin-left:25%;
	margin-right:25%;
	padding-left:5%;
	font-family: 'Encode Sans Condensed', sans-serif;

	
}
.cadastro h2{
	font-family: 'PT Sans', sans-serif;
	font-size:300%;
	text-align:center;
	padding-top:2%;
}
#ex{
	opacity:0.6;
	margin-top:0;
}
#obrigatorio{
	color:#F00;
}
#campos{
	padding:5px;
	
	box-shadow:1px 1px 2px #666666;
	margin:5px 5px 10px 10px;
	font-family: 'PT Sans', sans-serif;

}
#campos_bt{
	padding:5px;
	font-size:150%;	
	box-shadow:1px 1px 2px #666666;
	margin:5px 5px 10px 10px;
	font-family: 'PT Sans', sans-serif;
	border-radius:5px;
	background-color:#ccc;
	margin-left:20%;
}
#campos_bt:hover{
	background-color:#939393;
	color:#FFF;
}





.rodape{
	background:#1f405b;
	font-family: 'Catamaran', sans-serif;
	text-align:center;
	color:#FFF;
	margin-top:5%;
	margin-bottom:0px;
	left:0;
	right:0;
	position:inherit;
}
.rodape p{
	padding-bottom:10px;
	padding-top:10px;
}
#rodape_email{
	padding-bottom:20px;
	margin-bottom:0px;
}
#menu_rodape{
	padding:10px;
	background-color:#244B6A;
	margin-left:0px;
	margin-right:0px;

}
.rodape a{
	color:#FFF;
	padding:10px;
	margin-left:10px;
	text-decoration:none;
	text-align: center;
  	font-family: 'Catamaran', sans-serif;

}
.rodape a:hover{
	color:#000;
	text-shadow: 1px 1px 1px #000000;
	background-color:#E1E1E1;
	text-decoration:none;
	text-align: center;	
}
.rodape p a:hover{
	background-color:#0b3455;
	color:#FFF;
	border-radius:5px;
	text-shadow:2px 1px #000;
}
span{
	display:inline;
}
span:hover{
	font-size:50px;
	display:none;
}
